<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/default_login_layout">
<th:block layout:fragment="content">

    <div class="container">
        <div>
            <ul th:each="room : ${list.content}">
                <li><a th:href="|/room/${room.roomNo}|">[[${room.roomNm}]]</a></li>
            </ul>
        </div>
    </div>
    <form th:action="@{/room}" method="post">
        <input type="hidden" name="roomType" value="08002">
        <button class="btn btn-secondary">고객센터</button>
    </form>

</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/js/rooms.js}"></script>
</th:block>
</html>