<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masjjim.board.mapper.BoardMapper">

    <insert id="createBoardCategory" useGeneratedKeys="true" keyProperty="borCatNo">
        INSERT INTO T_300
      			( bor_cat_name
      			, bor_cat_num
      			, bor_cat_type
      			, bor_cat_stat
      			, bor_cat_reg_dt
      			)
      		VALUES
      			( #{borCatName}
      			, #{borCatNum}
      			, #{borCatType}
      			, #{borCatStat}
      			, now()
      			)
    </insert>

	<insert id="createBoardMenu" useGeneratedKeys="true" keyProperty="borMenuNo">
     INSERT INTO T_310
   			( bor_cat_no
   			, bor_menu_name
   			, bor_menu_num
   			, bor_menu_type
   			, bor_menu_stat
   			, bor_menu_reg_dt
   			)
   		VALUES
   			( #{borCatNo}
   			, #{borMenuName}
   			, #{borMenuNum}
   			, #{borMenuType}
   			, #{borMenuStat}
   			, now()
   			)
 </insert>

	<insert id="createBoardMenuStore">
     INSERT INTO T_311
   			( bor_menu_no
   			, sto_no
   			)
   		VALUES
   			( #{borMenuNo}
   			, #{stoNo}
   			)
 </insert>
	<select id="readBoardMenuList" resultType="ResBoardMenu">
		SELECT bor_cat_no     AS borCatNo
		   	 , bor_menu_name   AS borMenuName
		   	 , bor_menu_num    AS borMenuNum
		   	 , bor_menu_type   AS borMenuType
		   	 , bor_menu_stat   AS borMenuStat
		   	 , bor_menu_reg_dt AS borMenuRegDt
		FROM T_310
		WHERE bor_cat_no = #{bor_cat_no}
	</select>

	<resultMap id="BoardCategoryMap" type="ResBoardCategory">
		 <result property="borCatNo" column="borCatNo"/>
		 <result property="borCatName" column="bor_cat_name"/>
		 <result property="borCatNum" column="bor_cat_num"/>
		 <result property="borCatType" column="bor_cat_type"/>
		 <result property="borCatStat" column="bor_cat_stat"/>
		 <result property="borCatRegDt" column="bor_cat_reg_dt"/>
		 <collection property="resBoardMenuList" resultMap="BoardMenuMap">
		 </collection>
 	</resultMap>
	<resultMap id="BoardMenuMap" type="ResBoardMenu" >
		 <result property="borMenuNo" column="bor_menu_no"/>
		 <result property="borCatNo" column="bor_cat_no"/>
		 <result property="borMenuName" column="bor_menu_name"/>
		 <result property="borMenuNum" column="bor_menu_num"/>
		 <result property="borMenuType" column="bor_menu_type"/>
		 <result property="borMenuStat" column="bor_menu_stat"/>
		 <result property="borMenuRegDt" column="bor_menu_reg_dt"/>
	</resultMap>
	<select id="readBoardCategoryList" resultMap="BoardCategoryMap">
		SELECT category.bor_cat_no AS borCatNo
			 , category.bor_cat_name
			 , category.bor_cat_num
			 , category.bor_cat_type
			 , category.bor_cat_stat
			 , category.bor_cat_reg_dt
			 , menu.bor_menu_no
			 , menu.bor_cat_no
			 , menu.bor_menu_name
		   	 , menu.bor_menu_num
		   	 , menu.bor_menu_type
		   	 , menu.bor_menu_stat
		   	 , menu.bor_menu_reg_dt
		FROM T_300 category
		LEFT OUTER JOIN T_310 menu ON menu.bor_cat_no = category.bor_cat_no
		ORDER BY category.bor_cat_num, menu.bor_menu_num
	</select>
</mapper>