<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragment/login_head :: loginHeadFragment"></th:block>
<body>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="bg-light bg-gradient">
        <main>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center"  style="height:85vh;" >
                        <th:block layout:fragment="content"></th:block>
                </div>
            </div>
        </main>
    </div>
    <th:block th:replace="fragment/login_footer :: loginFooterFragment"></th:block>
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>