<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:replace="fragment/head :: headFragment('menu')"></th:block>

    <th:block th:replace="fragment/header :: headerFragment"></th:block>


    <th:block layout:fragment="content"></th:block>


    <th:block th:replace="fragment/footer :: footerFragment"></th:block>

    <th:block th:replace="fragment/modal :: modalFragment"></th:block>

    <th:block layout:fragment="script"></th:block>

    </body>
</html>