<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card shadow mb-4" style="height:78vh;">
                <div class="border-left-info card-header py-3 d-flex justify-content-between">
                    <h1 class="h3 mb-0 text-gray-800" id="boardTitle"></h1>
                    <button type="button" class="btn btn-info" th:onclick="location.href='board-create?borCatNo=[[${borCatNo}]]&borMenuNo=[[${borMenuNo}]]';">등록</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="boardTable" >
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" />
                                    </th>
                                    <th scope="col">번호</th>
                                    <th scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">주소</th>
                                    <th scope="col">작성일</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/board.js}"></script>
</th:block>
</html>