<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card shadow mb-4" style="height:78vh;">
                <div class="border-left-info card-header py-3 d-flex">
                    <h1 class="h3 mb-0 text-gray-800" id="boardTitle"></h1>
                    <h1 class="h3 mb-0 text-gray-800">&nbsp;- 등록</h1>
                </div>
                <div class="card-body">
                    <div class="inputForm">
                        <form id="createBoardForm">
                            <div class="form-group row">
                                <input type="hidden" th:value="${borMenuNo}" name="borMenuNo" />
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <div>이름</div>
                                    <input type="text" class="form-control form-control-user" id="stoName"
                                           name="stoName">
                                </div>
                                <div class="col-sm-3">
                                    <div>전화번호</div>
                                    <input type="number" class="form-control form-control-user" id="stoNum"
                                           name="stoNum">
                                </div>
                                <div class="col-sm-3" style="margin-bottom:10px; width:120px;">
                                    <div>타입</div>
                                    <select class="form-control" id="stoType" name="stoType">
                                        <option value="005003">기타</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="margin-bottom:10px; width:120px;">
                                    <div>활성</div>
                                    <select class="form-control" id="stoStat" name="stoStat">
                                        <option value="002001">활성화</option>
                                        <option value="002002">비활성화</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between" style="margin-bottom:5px;">
                                    <div>주소</div>
                                    <a class="btn btn-outline-info btn-sm" href="#" role="button" data-toggle="modal"
                                       data-target="#createBoardMapModal" id="selectMap" >위치선택</a>
                                </div>
                                <input type="text" class="form-control form-control-user" id="stoAddr" name="stoAddr"
                                       placeholder="위치를 선택해주세요." readonly>
                                <input type="hidden" id="stoAddr1" name="stoAddr1"/>
                                <input type="hidden" id="stoAddr2" name="stoAddr2"/>
                            </div>
                            <div class="form-group">
                                <div>설명</div>
                                <input type="text" class="form-control form-control-user" id="stoInfo" name="stoInfo">
                            </div>
                            <!--                            <div class="categoryMenu">
                                                            <div class="form-group row">
                                                                <div class="col-sm-10">
                                                                    <div>카테고리</div>
                                                                    <input type="text" class="form-control form-control-user" name="stoCatName"/>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div>&nbsp;</div>
                                                                    <div class="bi bi-plus-lg btn text-primary " id="addMenuBtn">&nbsp;메뉴추가</div>
                                                                </div>
                                                            </div>
                                                            <div id="totalMenu" style="overflow-x:hidden; overflow-y:auto; height:230px;">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <div>메뉴</div>
                                                                        <input type="text" class="form-control form-control-user"
                                                                               name="stoMenuName"/>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <div>가격</div>
                                                                        <input type="text" class="form-control form-control-user"
                                                                               name="stoMenuPrice"/>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <div>사진(사진파일만)</div>
                                                                        <input type="file" accept="image/*" class="btn" name="stoMenuFile"/>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div>소개</div>
                                                                    <input type="text" class="form-control form-control-user" name="stoMenuInfo"/>
                                                                </div>
                                                                <hr class="sidebar-divider">
                                                            </div>
                                                        </div>-->
                            <div class="form-group mt-3">
                                <button type="button" class="btn btn-primary" id="createBoardBtn">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createBoardMapModal" tabindex="-1" role="dialog"
         aria-labelledby="createBoardMapModalLabel" aria-hidden="true">
        <div class="modal-xl modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-gray-100">
                    <h5 class="modal-title" id="createBoardMapModalLabel">위치검색</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span class="text-gray-100" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="map" style="width: 1200px; height:600px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=09rw95dvir&submodules=geocoder"></script>
    <script th:src="@{/js/board-create.js}"></script>
</th:block>
</html>