<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masjjim.store.mapper.StoreMapper">
    <insert id="createStore" useGeneratedKeys="true" keyProperty="stoNo">
        INSERT INTO T_200
                ( sto_name
     			, sto_num
     			, sto_addr
     			, sto_addr1
     			, sto_addr2
     			, sto_info
     			, sto_type
     			, sto_stat
     			, sto_reg_dt
     			, mem_no
     			)
     		VALUES
     			( #{stoName}
     			, #{stoNum}
     			, #{stoAddr}
     			, #{stoAddr1}
     			, #{stoAddr2}
     			, #{stoInfo}
     			, #{stoType}
     			, #{stoStat}
     			, now()
				, #{memNo}
     			)
    </insert>

    <insert id="createStoreCategory" useGeneratedKeys="true" keyProperty="stoCatNo">
        INSERT INTO T_210
                ( sto_no
     			, sto_cat_name
     			, sto_cat_num
     			, sto_cat_stat
     			, stoCatRegDt
     			)
     		VALUES
     			( #{stoNo}
     			, #{stoCatName}
     			, #{stoCatNum}
     			, #{stoCatStat}
     			, now()
     			)
    </insert>

    <insert id="createStoreMenu">
        INSERT INTO T_211
                ( sto_cat_no
     			, sto_menu_num
     			, sto_menu_name
     			, sto_menu_info
     			, sto_menu_price
     			, sto_menu_stat
     			, sto_menu_reg_dt
     			)
     		VALUES
     			( #{stoCatNo}
     			, #{stoMenuNum}
     			, #{stoMenuName}
     			, #{stoMenuInfo}
     			, #{stoMenuPrice}
     			, #{stoMenuStat}
     			, now()
     			)
    </insert>

    <insert id="createStoreReply" useGeneratedKeys="true" keyProperty="stoRlyNo">
        INSERT INTO T_220
                ( sto_no
     			, mem_no
     			, re_sto_rly_no
     			, sto_rly_info
     			, sto_rly_stat
     			, sto_rly_reg_dt
     			)
     		VALUES
     			( #{stoNo}
     			, #{memNo}
     			, #{reStoRlyNo}
     			, #{stoRlyInfo}
     			, #{stoRlyStat}
     			, now()
     			)
    </insert>

	<select id="readStoreList" resultType="ResStoreList">
		SELECT sto.sto_no 	  AS stoNo
			 , sto.sto_name   AS stoName
			 , sto.sto_num    AS stoNum
			 , sto.sto_addr   AS stoAddr
			 , sto.sto_addr1  AS stoAddr1
			 , sto.sto_addr2  AS stoAddr2
			 , sto.sto_type   AS stoType
			 , cod.code_name  AS stoTypeName
			 , sto.sto_stat   AS stoStat
			 , sto.sto_reg_dt AS stoRegDt
			 , mem.mem_nic AS memNic
		FROM T_200 sto
		LEFT OUTER JOIN T_311 bor ON bor.sto_no   = sto.sto_no
		LEFT OUTER JOIN T_000 cod ON cod.code_num = sto.sto_type
		LEFT OUTER JOIN T_100 mem ON mem.mem_no   = sto.mem_no
		WHERE sto.sto_stat != '004002'
		AND bor.bor_menu_no = #{borMenuNo}
		ORDER BY sto.sto_no DESC
	</select>

	<select id="readStore" resultType="ResStore">
		SELECT sto_no
			 , sto_name
			 , stoNum
			 , stoAddr
			 , stoAddr1
			 , stoAddr2
			 , stoInfo
			 , stoType
			 , stoTypeName
		FROM
		WHERE
	</select>
</mapper>