<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>회원정보</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>게시글 목록</h1>
        <table border="1">
            <thead>
            <tr>
                <th>번호</th>
                <th>id</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${memberPage.content}">
                <td th:text="${member.memNo}"></td>
                <td th:text="${member.memId}"></td>
                <td th:text="${member.memNm}"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a th:if="${memberPage.hasPrevious()}"
               th:href="@{/member/list(page=${memberPage.number - 1}, size=${memberPage.size})}">이전</a>

            <span th:text="${memberPage.number + 1}"></span> /
            <span th:text="${memberPage.totalPages}"></span>

            <a th:if="${memberPage.hasNext()}"
               th:href="@{/member/list(page=${memberPage.number + 1}, size=${memberPage.size})}">다음</a>
        </div>
    </body>
</html>