<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="title">Login</title>
</head>

<body>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="bg-light bg-gradient">
        <main>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center"  style="height:85vh;" >
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                            <div class="card-body">
                                <form action="/login" method="POST">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" name="username" id="inputId"/>
                                        <label for="inputId">ID</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" id="inputPassword" name="password"/>
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <span th:text="${loginError}"></span>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="password.html" style="text-decoration:none">비밀번호 찾기</a>
                                        <button class="btn btn-primary" type="submit">로그인</button>
                                    </div>
                                </form>
                                <span th:if="${not #strings.isEmpty(error)}">
                                    <p id="valid" th:text="${param.exception}"></p>
                                </span>
                            </div>
                            <div class="card-footer py-3 text-center">
                                <div class="small"><a th:href="@{/register}" style="text-decoration:none">회원가입</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>