<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masjjim.member.mapper.MemberMapper">

    <insert id="createMember" useGeneratedKeys="true" keyProperty="memNo">
        INSERT INTO T_100
      			( mem_id
      			, mem_pw
      			, mem_name
      			, mem_cell
      			, mem_nic
      			, mem_type
      			, mem_email
      			, mem_stat
      			, mem_auth
      			, mem_reg_dt
      			)
      		VALUES
      			( #{memId}
      			, #{memPw}
      			, #{memName}
      			, #{memCell}
      			, #{memNic}
      			, #{memType}
      			, #{memEmail}
      			, #{memStat}
      			, #{memAuth}
      			, now()
      			)
    </insert>

    <select id="checkMemId" resultType="int">
   		SELECT COUNT(*) FROM T_100 WHERE mem_id = #{memId}
   	</select>

    <select id="readMemberByMemId" resultType="ResMember">
        SELECT mem_no   AS memNo
             , mem_id   AS memId
             , mem_pw   AS memPw
             , mem_auth AS memAuth
        FROM T_100
        WHERE mem_id    = #{memId}
        AND   mem_stat != "00103"
    </select>

	<select id="readMember" resultType="ResMember">
		SELECT mem_no   AS memNo
			 , mem_id   AS memId
			 , mem_nic  AS memNic
			 , mem_auth AS memAuth
		  FROM T_100
		  WHERE mem_no = #{memNo}
	</select>

	<insert id="createMemberStore">
		INSERT INTO T_110
			( memNo
			, stoNo
			)
		VALUES
			( #{memNo}
			, #{stoNo}
			)
	</insert>
</mapper>