<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">map</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div id="map" style="width: 100%; height:600px;"></div>
        </div>

    </div>
    <!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=09rw95dvir&submodules=geocoder"></script>
    <script th:src="@{/js/map.js}"></script>
</th:block>
</html>